
<div class="element-wraper">
  <h3 class="bg-primary p-a-1 marged">
    <h3>{{getName()}}'s To Do List</h3>
  </h3>
</div>

<div class="element-wraper">
  <div class="m-t-1 m-b-1">
    <input class="form-control" #todoText (keyup.enter)="addItem(todoText.value)" [(ngModel)]="taskInput"/>
    <div class="button-wraper">
      <button class="byn btn-primary m-t-1" (click)="addItem(todoText.value)">Add</button>
    </div>
  </div>
</div>

<div class="element-wraper">
  <table class="table table-striped table-bordered marged">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Done</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getTodoItems(); let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td><input type="checkbox" [(ngModel)]="item.done" /></td>
        <td [ngSwitch]="item.done">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
